@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?bhs314');
  src:  url('fonts/iconfont.eot?bhs314#iefix') format('embedded-opentype'),
  url('fonts/iconfont.ttf?bhs314') format('truetype'),
  url('fonts/iconfont.woff?bhs314') format('woff'),
  url('fonts/iconfont.svg?bhs314#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\78";
}
.icon-music:before {
  content: "\e600";
}
.icon-mergecells:before {
  content: "\e601";
}
.icon-anonymous-iconfont:before {
  content: "\e602";
}
.icon-simpleupload:before {
  content: "\e603";
}
.icon-justifycenter:before {
  content: "\e604";
}
.icon-justifyleft:before {
  content: "\e605";
}
.icon-justifyjustify:before {
  content: "\e606";
}
.icon-justifyright:before {
  content: "\e607";
}
.icon-drafts:before {
  content: "\e608";
}
.icon-touppercase:before {
  content: "\e609";
}
.icon-tolowercase:before {
  content: "\e60a";
}
.icon-preview:before {
  content: "\e60b";
}
.icon-insertvideo:before {
  content: "\e60c";
}
.icon-emotion:before {
  content: "\e60d";
}
.icon-selectall:before {
  content: "\e60e";
}
.icon-insertframe:before {
  content: "\e60f";
}
.icon-insertparagraphbeforetable:before {
  content: "\e610";
}
.icon-lineheight:before {
  content: "\e611";
}
.icon-rowspacingbottom:before {
  content: "\e612";
}
.icon-rowspacingtop:before {
  content: "\e613";
}
.icon-splittocols:before {
  content: "\e614";
}
.icon-fullscreen:before {
  content: "\e615";
}
.icon-backcolor:before {
  content: "\e616";
}
.icon-autotypeset:before {
  content: "\e617";
}
.icon-icon-test1:before {
  content: "\e618";
}
.icon-italic:before {
  content: "\e619";
}
.icon-deletetable:before {
  content: "\e61a";
}
.icon-deleterow:before {
  content: "\e61b";
}
.icon-deletecol:before {
  content: "\e61c";
}
.icon-fontborder:before {
  content: "\e61d";
}
.icon-formatmatch:before {
  content: "\e61e";
}
.icon-imagecenter:before {
  content: "\e61f";
}
.icon-imageleft:before {
  content: "\e620";
}
.icon-horizontal:before {
  content: "\e621";
}
.icon-imageright:before {
  content: "\e622";
}
.icon-imagenone:before {
  content: "\e623";
}
.icon-charts:before {
  content: "\e624";
}
.icon-redo:before {
  content: "\e625";
}
.icon-insertcol:before {
  content: "\e626";
}
.icon-insertrow:before {
  content: "\e627";
}
.icon-undo:before {
  content: "\e628";
}
.icon-mergedown:before {
  content: "\e629";
}
.icon-mergeright:before {
  content: "\e62a";
}
.icon-pasteplain:before {
  content: "\e62b";
}
.icon-pagebreak:before {
  content: "\e62c";
}
.icon-removeformat:before {
  content: "\e62d";
}
.icon-snapscreen:before {
  content: "\e62e";
}
.icon-scrawl:before {
  content: "\e62f";
}
.icon-splittocells:before {
  content: "\e630";
}
.icon-strikethrough:before {
  content: "\e631";
}
.icon-splittorows:before {
  content: "\e632";
}
.icon-inserttable:before {
  content: "\e633";
}
.icon-icon-test:before {
  content: "\e634";
}
.icon-map-marker:before {
  content: "\e635";
}
.icon-google:before {
  content: "\e636";
}
.icon-ic_format_list_bulle:before {
  content: "\e637";
}
.icon-unlink:before {
  content: "\e638";
}
.icon-ic_format_list_numbe:before {
  content: "\e639";
}
.icon-time:before {
  content: "\e63a";
}
.icon-uniEC:before {
  content: "\e63b";
}
.icon-indent:before {
  content: "\e63c";
}
.icon-ok:before {
  content: "\e63d";
}
.icon-dollar:before {
  content: "\e63e";
}
.icon-pen:before {
  content: "\e63f";
}
.icon-share:before {
  content: "\e640";
}
.icon-vertical:before {
  content: "\e641";
}
.icon-directionalityrtl:before {
  content: "\e642";
}
.icon-directionalityltr:before {
  content: "\e643";
}
.icon-multi-image:before {
  content: "\e644";
}
.icon-exchange:before {
  content: "\e645";
}
.icon-check-box:before {
  content: "\e646";
}
.icon-html:before {
  content: "\e647";
}
.icon-color1:before {
  content: "\e648";
}
.icon-down:before {
  content: "\e649";
}
.icon-wordimage:before {
  content: "\e64a";
}
.icon-slider:before {
  content: "\e64b";
}
.icon-cancel:before {
  content: "\e64c";
}
.icon-tuichu:before {
  content: "\e64d";
}
.icon-radio-active:before {
  content: "\e64e";
}
.icon-left:before {
  content: "\e64f";
}
.icon-print:before {
  content: "\e650";
}
.icon-wran:before {
  content: "\e651";
}
.icon-trash:before {
  content: "\e652";
}
.icon-insert-image:before {
  content: "\e653";
}
.icon-weibiaoti46:before {
  content: "\e654";
}
.icon-right:before {
  content: "\e655";
}
.icon-replace:before {
  content: "\e656";
}
.icon-uniEBD:before {
  content: "\e657";
}
.icon-delete:before {
  content: "\e658";
}
.icon-fabu:before {
  content: "\e659";
}
.icon-icon_clone:before {
  content: "\e65a";
}
.icon-youjian:before {
  content: "\e65b";
}
.icon-ad-icon-tooltip:before {
  content: "\e65c";
}
.icon-pingfen:before {
  content: "\e65d";
}
.icon-tupian:before {
  content: "\e65e";
}
.icon-ic:before {
  content: "\e65f";
}
.icon-switch:before {
  content: "\e660";
}
.icon-shangchuan:before {
  content: "\e661";
}
.icon-zhage:before {
  content: "\e662";
}
.icon-RectangleCopy:before {
  content: "\e663";
}
.icon-sync:before {
  content: "\e664";
}
.icon-gengduo1:before {
  content: "\e665";
}
.icon-gengduo2:before {
  content: "\e666";
}
.icon-gongzuotai:before {
  content: "\e667";
}
.icon-yulan:before {
  content: "\e668";
}
.icon-rili:before {
  content: "\e669";
}
.icon-gengduo3:before {
  content: "\e66a";
}
.icon-clear:before {
  content: "\e66b";
}
.icon-danwei:before {
  content: "\e66c";
}
.icon-shoujianxiang:before {
  content: "\e66d";
}
.icon-gengduo4:before {
  content: "\e66e";
}
.icon-ic_join_dialing_norm:before {
  content: "\e66f";
}
.icon-gengduo5:before {
  content: "\e670";
}
.icon-icon02:before {
  content: "\e671";
}
.icon-xiugai:before {
  content: "\e672";
}
.icon-xiaoxi:before {
  content: "\e673";
}
.icon-gengduo6:before {
  content: "\e674";
}
.icon-caidan-tianchong:before {
  content: "\e675";
}
.icon-bumen:before {
  content: "\e676";
}
.icon-gerenzhongxinwoderenwubiaozhuntoumianxing:before {
  content: "\e677";
}
.icon-tupianyulan:before {
  content: "\e67d";
}
.icon-fuwenbenkuang:before {
  content: "\e682";
}
.icon-Taskattachments:before {
  content: "\e68a";
}
.icon-APP:before {
  content: "\e68c";
}
.icon-doc:before {
  content: "\e68e";
}
.icon-jilianxuanze:before {
  content: "\e695";
}
.icon-crop:before {
  content: "\e6a4";
}
.icon-gengduo:before {
  content: "\e6a8";
}
.icon-link:before {
  content: "\e6ac";
}
.icon-grid:before {
  content: "\e6ad";
}
.icon-input:before {
  content: "\e6b2";
}
.icon-quote:before {
  content: "\e6b4";
}
.icon-up:before {
  content: "\e6b7";
}
.icon-cursor:before {
  content: "\e6c0";
}
.icon-anchor:before {
  content: "\e6c5";
}
.icon-sousuo:before {
  content: "\e6ca";
}
.icon-daochu:before {
  content: "\e6df";
}
.icon-simple-image:before {
  content: "\e6e5";
}
.icon-code:before {
  content: "\e6ea";
}
.icon-at:before {
  content: "\e6f9";
}
.icon-date:before {
  content: "\e712";
}
.icon-fontunderline:before {
  content: "\e734";
}
.icon-number:before {
  content: "\e76b";
}
.icon-xiahuaxian:before {
  content: "\e779";
}
.icon-sortup:before {
  content: "\e795";
}
.icon-subscript:before {
  content: "\e7aa";
}
.icon-json:before {
  content: "\e7bd";
}
.icon-lock:before {
  content: "\e7c0";
}
.icon-color:before {
  content: "\e7c2";
}
.icon-icon_bars:before {
  content: "\e7c4";
}
.icon-folder:before {
  content: "\e7cb";
}
.icon-bitcoin:before {
  content: "\e7d0";
}
.icon-fujian:before {
  content: "\e7d8";
}
.icon-sort:before {
  content: "\e801";
}
.icon-sortdown:before {
  content: "\e818";
}
.icon-superscript:before {
  content: "\e83e";
}
.icon-drag:before {
  content: "\e842";
}
.icon-mail:before {
  content: "\e8ff";
}
.icon-choose_img:before {
  content: "\e900";
}
.icon-choose_video:before {
  content: "\e901";
}
.icon-choose_audio:before {
  content: "\e902";
}
.icon-choose_vote:before {
  content: "\e903";
}
.icon-choose_weapp:before {
  content: "\e904";
}
.icon-_html:before {
  content: "\e905";
}
.icon-view-eye:before {
  content: "\e906";
}
.icon-json-text:before {
  content: "\e907";
}
.icon-Background:before {
  content: "\e90d";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-bold:before {
  content: "\e911";
}
.icon-music1:before {
  content: "\e912";
}
.icon-play:before {
  content: "\e913";
}
.icon-diy-com-textarea:before {
  content: "\e91f";
}
.icon-select:before {
  content: "\e920";
}
.icon-folder1:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-merge-cells:before {
  content: "\e9aa";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-font:before {
  content: "\f031";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-checkmark:before {
  content: "\ea10";
}
